<!--Student name : Vinay Mattu(301203096),
Subject :COMP229-web application development
Date : 5 feb 2022 -->
<!DOCTYPE html>
<html>
  <head>
   <title> Portfolio-Vinay Mattu</title>
    <%- include('./partials/head'); %>
  </head>
  <body bgcolor="#0a192f">

    <!-- ======= Header ======= -->
    <header id="header">
        <%- include('./partials/header'); %>
    </header>

    <div class="main" style="padding-bottom: 1%;">
      <h2 class="numbered-heading">Projects</h2>

      <div class="row project_row">
        <div class="col-md-3"></div>  
        <div class="col-md-3 col-sm-12 project_1"  style="margin-right: 1%;">
          <div class=" inner project_background"  >
            <span class="project_head" ><%= data[0].name %></span>
            <p class="project_para" ><%= data[0].description %></p>
         </div>
        </div>
        <div class="col-md-3 col-sm-12 project_2 " >
          <div class=" inner project_background" > 
            <span class="project_head"><%= data[1].name %></span>
            <p class="project_para" ><%= data[1].description %></p>
         </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      
      <div class="row project_row" >
        <div class="col-md-3"></div>
        <div class="col-md-3 project_3" style="margin-right: 1%;">
          <div class=" inner project_background" >
            <span class="project_head" ><%= data[2].name %></span>
            <p class="project_para" ><%= data[2].description %></p>
         </div>
        </div>
        <div class="col-md-3 project_4 ">
          <div class=" inner project_background">
            <span class="project_head"><%= data[3].name %></span>
            <p class="project_para" ><%= data[3].description %></p>
         </div>
        </div>
        <div class="col-md-3"></div>
      </div>
   
    </div>
    </div>
    </div>
    </div>
   
    
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('./partials/footer'); %>
  </footer><!-- End  Footer -->
  </body>
</html>
