<!--Student name : Vinay Mattu(301203096),
Subject :COMP229-web application development
Date : 5 feb 2022 -->

<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio-Vinay Mattu</title>
   
     <%- include('./partials/head'); %>
    
  </head>
  <body bgcolor="#0a192f">
    
    <div id="container">

    <!-- ======= Header ======= -->
    <header id="header">
        <%- include('./partials/header'); %>
    </header>

    <div class="main">
      <h2 class="numbered-heading">Service</h2>
    
      <div class="container-fluid mt-3" >
          <div class="row about_box" >
            <div class="col-md-4  box" style="border:3px solid #64ffda">
                <div class="service-item">
                    <i class="fa fa-2x fa-laptop-code mx-auto mb-4"></i>
                    <h5 class="mb-2"><%= data[0].name %></h5>
                    <p class="mb-0"><%= data[0].description %></p>
                </div>
            </div>
            <div class="col-md-4   offset-1 box" style="border:3px solid #64ffda">
                <div class="service-item">
                    <i class="fab fa-2x fa-android mx-auto mb-4"></i>
                    <h5 class="mb-2"><%= data[1].name %></h5>
                    <p class="mb-0"><%= data[1].description %></p>
                </div>
             </div>
          </div>
  
          <div class="row about_box box_gap" >
            <div class="col-md-4  box" style="border:3px solid #64ffda">
                <div class="service-item">
                    <i class="fa fa-2x fa-search mx-auto mb-4"></i>
                    <h5 class="mb-2"><%= data[2].name %></h5>
                    <p class="mb-0"><%= data[2].description %></p>
                </div>
            </div>
            <div class="col-md-4  offset-1 box" style="border:3px solid #64ffda">
                <div class="service-item">
                    <i class="fa fa-2x fa-edit mx-auto mb-4"></i>
                    <h5 class="mb-2"><%= data[3].name %></h5>
                    <p class="mb-0"><%= data[3].description %></p>
                </div>
             </div>
          </div>
  
        </div>
    </div>
    
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <%- include('./partials/footer'); %>
  </footer><!-- End  Footer -->

    </div>
  </body>
</html>
